<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Dodawanie</title>
</head>
<body>

<h2>Dodaj Zadanie</h2>
<form action="/edytuj" method="post" th:object="${editTask}">
    <div class="form-group">
        <label>Opis</label>
        <input type="text" class="form-control" th:field="*{opis}" placeholder="Dodaj opis zadania">
    </div>
    <div class="form-group">
        <label>Osoba</label>
        <input type="text" class="form-control" th:field="*{osoba}" placeholder="Dodaj osobę">
    </div>
    <div class="form-group">
        <label>Punkty</label>
        <input type="number" class="form-control" th:field="*{punkty}" placeholder="Dodaj punkty">
    </div>
    <div class="form-group">
        <label>Termin</label>
        <input type="text" class="form-control"  th:field="*{dateTimeFormat}" placeholder="Dodaj termin">
    </div>
    <button type="submit" class="btn btn-primary">Edytuj</button>
</form>
</body>
</html>